<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<mat-card class="col-12 header-custom mb-2">
        <div class="container">
                <div class="row">
                        <div routerLink="/" class="col-2 offset-1">
                                <img class="img-fluid" src="https://www.everis.com/sites/all/themes/everis/logo.png">
                        </div>
                        <div class="col-1 offset-7 mtmb-auto">
                                <button routerLink="/nuevoregistro" class="btn-custom" mat-button >Buscador</button>
                        </div>
                </div>
        </div>
</mat-card>